@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  direction: rtl;
  font-family: var(--font-tajawal), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@keyframes kenburns {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.ken-burns {
  animation: kenburns 10s ease-out forwards;
}
